click==8.1.7
colorama==0.4.6
iniconfig==2.0.0
markdown-it-py==3.0.0
mccabe==0.7.0
mdurl==0.1.2
packaging==23.2
pluggy==1.4.0
pycodestyle==2.11.1
Pygments==2.17.2
rich==13.7.0
setuptools==69.1.1
shellingham==1.5.4
typer==0.9.0
